@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Users</h1>
    <p>Number of user in te list: @Model.Count</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Mobile number</th>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (User user in Model)
            {
                <tr>
                    <td>@user.UserID</td>
                    <td>@user.UserName</td>
                    <td>@user.MobileNumber</td>
                    <td>@user.Email</td>
                </tr>
            }
        }
    </tbody>
</table>